<div class="basic-container">
    <mat-card>
        <mat-table [dataSource]="products">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Naam </mat-header-cell>
                <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
            </ng-container>
            <!-- lastStoreName Column -->
            <ng-container matColumnDef="lastStoreName">
                <mat-header-cell *matHeaderCellDef> Laatst gekozen winkel </mat-header-cell>
                <mat-cell *matCellDef="let product"> {{product.lastStoreName}} </mat-cell>
            </ng-container>
            <!-- lastDepartmentName Column -->
            <ng-container matColumnDef="lastDepartmentName">
                <mat-header-cell *matHeaderCellDef> Laatst gekozen afdeling </mat-header-cell>
                <mat-cell *matCellDef="let product"> {{product.lastDepartmentName}} </mat-cell>
            </ng-container>        
            <!-- lastAmount Column -->
            <ng-container matColumnDef="lastAmount">
                <mat-header-cell *matHeaderCellDef> Laatst gekozen aantal </mat-header-cell>
                <mat-cell *matCellDef="let product"> {{product.lastAmount}} </mat-cell>
            </ng-container>      
            <!-- everyList Column -->
            <ng-container matColumnDef="everyList">
                <mat-header-cell *matHeaderCellDef> Elke lijst </mat-header-cell>
                <mat-cell *matCellDef="let product">
                    <mat-checkbox [checked]="product.everyList" (change)="toggleEveryList(product)"></mat-checkbox>
                </mat-cell>
            </ng-container>
            <!-- delete Column -->
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> Verwijderen </mat-header-cell>
                <mat-cell *matCellDef="let product"><button mat-raised-button color="primary"
                        (click)="delete(product)">Verwijderen</button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>
</div>