<h1 mat-dialog-title>Product: {{data.grocerie.name}}</h1>
<div mat-dialog-content>
    <app-grocerie-creator 
        [(amount)]="amount" 
        [(storeName)]="storeName" 
        [(departmentName)]="departmentName"
        [(productName)]="productName" 
        [stores]="stores" 
        [departments]="departments" 
        [groceries]="groceries"
        [productNamesInGrocerieList]="productNamesInGrocerieList"
        [productNamesNotInGrocerieList]="productNamesNotInGrocerieList" 
        [canNotChange]="canNotChange"
        [isNew]="isNew"
        [saveButtonName]="saveButtonName"
        (addGrocerieEvent)="addGrocerie()"></app-grocerie-creator>
    <button mat-raised-button color="primary" (click)="onNoClick()">Annuleren</button>
</div>
