<app-groceries-list-selector
    [(grocerieList)]="grocerieList"
    [grocerieLists]="grocerieLists"
    (downloadGrocerieListEvent)="downloadGrocerieList($event)"
    (newGrocerieListEvent)="newGrocerieList()"></app-groceries-list-selector>
<app-grocerie-creator
    [(amount)]="amount"
    [(storeName)]="storeName" 
    [(departmentName)]="departmentName" 
    [(productName)]="productName"
    [stores]="stores" 
    [departments]="departments" 
    [groceries]="groceries"
    [productNamesInGrocerieList]="productNamesInGrocerieList" 
    [productNamesNotInGrocerieList]="productNamesNotInGrocerieList"
    [canNotChange]="canNotChange"
    [isNew]="isNew"
    [saveButtonName]="saveButtonName"
    (addGrocerieEvent)="addGrocerie()"></app-grocerie-creator>
<app-groceries-table 
    [canNotChange]="canNotChange"
    [groceries]="groceries"
    [stores]="stores" 
    [departments]="departments" 
    [groceries]="groceries"
    [productNamesInGrocerieList]="productNamesInGrocerieList" 
    [productNamesNotInGrocerieList]="productNamesNotInGrocerieList"
    (changeGrocerieEvent)="changeGrocerie($event)"    
    (deleteGrocerieEvent)="deleteGrocerie($event)"></app-groceries-table>
