<div class="basic-container">
    <mat-card>
        <mat-table [dataSource]="groceries">
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Aantal </mat-header-cell>
                <mat-cell *matCellDef="let grocerie"> {{grocerie.amount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
                <mat-cell *matCellDef="let grocerie"> {{grocerie.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="store">
                <mat-header-cell *matHeaderCellDef> Winkel </mat-header-cell>
                <mat-cell *matCellDef="let grocerie"> {{grocerie.storeName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="department">
                <mat-header-cell *matHeaderCellDef> Afdeling </mat-header-cell>
                <mat-cell *matCellDef="let grocerie"> {{grocerie.departmentName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> Verwijderen </mat-header-cell>
                <mat-cell *matCellDef="let grocerie"><button mat-raised-button color="primary" [disabled]="canNotChange" (click)="delete(grocerie)">Verwijderen</button></mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editRow(row)"></mat-row>
        </mat-table>
    </mat-card>
</div>
