<div class="basic-container">
    <mat-card>
        <mat-form-field appearance="fill" class="select-field">
            <mat-label>Boodschappenlijst</mat-label>
            <mat-select [(value)]="selected">
                <mat-option *ngFor="let grocerieList of grocerieLists" [value]="grocerieList">
                    {{grocerieList | grocerieList}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="new()" class="space-to-prev">Nieuw</button>
        <button mat-raised-button color="primary" (click)="download()" class="space-to-prev">Download</button>
        <mat-form-field appearance="fill" class="space-to-prev">
            <mat-label>Download indeling</mat-label>
            <mat-select [(value)]="downloadChoice">
                <mat-option *ngFor="let downloadChoice of downloadChoices" [value]="downloadChoice">
                    {{downloadChoice.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>
</div>