<app-department-creator [departments]="departments" (newDepartmentEvent)="add($event)"></app-department-creator>
<app-departments-table [departments]="departments" (deleteDepartmentEvent)="delete($event)"></app-departments-table>
