<div class="basic-container">
   <mat-card>
      <form [formGroup]="newGrocerieGroup" (ngSubmit)="onSubmit()" autocomplete="off">
         <mat-form-field appearance="fill">
            <mat-label>Aantal</mat-label>
            <input matInput placeholder="Aantal" formControlName="amount" type="number">
            <mat-error *ngIf="amountControl.hasError('required')">
               Een aantal is <strong>verplicht</strong>.
            </mat-error> 
            <mat-error *ngIf="amountControl.hasError('min')">
               Een aantal moet <strong>groter dan 0</strong> zijn.
            </mat-error>             
         </mat-form-field>
         <mat-form-field *ngIf="isNew" class="space-to-prev">
            <mat-label>Produkt</mat-label>
            <input matInput placeholder="Produkt" formControlName="productName" type="text" [matAutocomplete]="auto" [errorStateMatcher]="matcher">
            <mat-error *ngIf="productControl.hasError('forbiddenName') && !productControl.hasError('required')">
               Het produkt staat al in de lijst.
            </mat-error>
            <mat-error *ngIf="productControl.hasError('required')">
               Product naam is <strong>verplicht</strong>.
            </mat-error> 
            <mat-autocomplete #auto="matAutocomplete">
               <mat-option *ngFor="let product of productNamesFilteredByTypedName | async" [value]="product.name">
                  {{product.name}}
               </mat-option>
            </mat-autocomplete>
         </mat-form-field>
         <mat-form-field appearance="fill" class="space-to-prev">
            <mat-label>Winkel</mat-label>
            <mat-select formControlName="storeName" [errorStateMatcher]="matcher">
               <mat-option *ngFor="let store of stores" [value]="store.name">
                  {{store.name}}
               </mat-option>
            </mat-select>
            <mat-error *ngIf="storeControl.hasError('required')">
               Winkel is <strong>verplicht</strong>.
            </mat-error> 
         </mat-form-field>
         <mat-form-field appearance="fill" class="space-to-prev">
            <mat-label>Afdeling</mat-label>
            <mat-select formControlName="departmentName"  [errorStateMatcher]="matcher">
               <mat-option *ngFor="let department of departments" [value]="department.name">
                  {{department.name}}
               </mat-option>
            </mat-select>
            <mat-error *ngIf="departmentControl.hasError('required')">
               Afdeling is <strong>verplicht</strong>.
            </mat-error> 
         </mat-form-field>
         <button mat-raised-button color="primary" class="space-to-prev" type="submit"  [disabled]="canNotChange">{{saveButtonName}}</button>
      </form>
   </mat-card>
</div>
