<div class="basic-container">
    <mat-card>
        <form [formGroup]="newStoreGroup" (ngSubmit)="onSubmit()" autocomplete="off">
            <mat-form-field>
                <mat-label>Winkel</mat-label>
                <input matInput placeholder="Winkel" formControlName="name" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nameControl.hasError('forbiddenName') && !nameControl.hasError('required')">
                    De naam moet uniek zijn.
                </mat-error>
                <mat-error *ngIf="nameControl.hasError('required')">
                    Winkel naam is <strong>verplicht</strong>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" class="space-to-prev" type="submit">
                Toevoegen
            </button>
        </form>
    </mat-card>
</div>
