<div class="basic-container">
    <mat-card>
        <mat-table [dataSource]="stores">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Naam </mat-header-cell>
                <mat-cell *matCellDef="let store"> {{store.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> Verwijderen </mat-header-cell>
                <mat-cell *matCellDef="let store"><button mat-raised-button color="primary"
                        (click)="delete(store)">Verwijderen</button></mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>
</div>
